<div>
    <div class="extra-small cl-text-faint"> 352765 </div>
    <div class="h6"> BANCO DE DADOS I </div>
    <div class="small"> HENRIQUE VIANA OLIVEIRA; FABIO JOSÉ GOMES DE SOUSA </div>
</div>
<div style="width:460px" ng-hide="diario.diarioOrientacao"> <c-progress-bar-aluno data="diario._progress"
        mostrar-obrigatorias="true">
        <div class="margin-top-1">
            <c-progress-bar data="$ctrl.myData" max="$ctrl.myMax" absolute="true">
                <div class="extra-small" style="display:flex;margin-top:1px">
                    <div ng-show="!$ctrl.mostrarValores" class="full-width ng-hide">
                        <div class="cl-text-faint">Não há valores para mostrar</div>
                        <div class="bg-light-gray" ng-style="{'height': $ctrl.height}" style="height: 5px;"></div>
                    </div> <!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Presença: " ng-style="{'width': d.percent+'%'}" style="width: 95%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-presenca" style="padding-right:1px"> <span
                                ng-show="$ctrl.absolute">76</span> <span ng-hide="$ctrl.absolute"
                                class="ng-hide">95%</span> </div>
                        <div class="bg-presenca flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Faltas: " ng-style="{'width': d.percent+'%'}" style="width: 5%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-falta" style="padding-right:1px"> <span
                                ng-show="$ctrl.absolute">4</span> <span ng-hide="$ctrl.absolute"
                                class="ng-hide">5%</span> </div>
                        <div class="bg-falta flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Faltas Abonadas: " ng-style="{'width': d.percent+'%'}" class="ng-hide"
                        style="width: 0%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-falta-abonada" style="padding-right:1px">
                            <span ng-show="$ctrl.absolute">0</span> <span ng-hide="$ctrl.absolute"
                                class="ng-hide">0%</span> </div>
                        <div class="bg-falta-abonada flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Aulas Pendentes: " ng-style="{'width': d.percent+'%'}" class="ng-hide"
                        style="width: 0%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-aula-pendente" style="padding-right:1px">
                            <span ng-show="$ctrl.absolute">0</span> <span ng-hide="$ctrl.absolute"
                                class="ng-hide">0%</span> </div>
                        <div class="bg-aula-pendente flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Aulas Futuras: " ng-style="{'width': d.percent+'%'}" class="ng-hide"
                        style="width: 0%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-aula-futura" style="padding-right:1px">
                            <span ng-show="$ctrl.absolute">0</span> <span ng-hide="$ctrl.absolute"
                                class="ng-hide">0%</span> </div>
                        <div class="bg-aula-futura flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                </div>
            </c-progress-bar>
            <!----><c-progress-bar data="$ctrl.myData2" max="$ctrl.myMax" absolute="true" hide-label="true"
                ng-if="$ctrl.mostrarObrigatorias">
                <div class="extra-small" style="display:flex;margin-top:1px">
                    <div ng-show="!$ctrl.mostrarValores" class="full-width ng-hide">
                        <div class="cl-text-faint">Não há valores para mostrar</div>
                        <div class="bg-light-gray" ng-style="{'height': $ctrl.height}" style="height: 5px;"></div>
                    </div> <!---->
                    <div ng-show="$ctrl.mostrarValores &amp;&amp; d.value > 0" ng-repeat="d in $ctrl.data"
                        uib-tooltip="Aulas obrigatórias: " ng-style="{'width': d.percent+'%'}" style="width: 100%;">
                        <div ng-hide="$ctrl.hideLabel" class="strong color-bg-aula-obrigatoria ng-hide"
                            style="padding-right:1px"> <span ng-show="$ctrl.absolute">80</span> <span
                                ng-hide="$ctrl.absolute" class="ng-hide">100%</span> </div>
                        <div class="bg-aula-obrigatoria flex column"
                            ng-style="{'background-color': d.color, 'height': $ctrl.height}"
                            style="justify-content: flex-end; height: 5px;">
                            <div style="background-color: rgb(177, 38, 45); height: 3px; width: 0%;"
                                ng-style="{'width': d.percent2+'%'}" ng-show="d.value2" class="ng-hide"></div>
                        </div>
                    </div><!---->
                </div>
            </c-progress-bar><!---->
        </div>
    </c-progress-bar-aluno> </div>